@import url(normalize.css);
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  --purple: linear-gradient(90deg, hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

body {
  background-color: #f2f2f2;
  font-family: "Montserrat", sans-serif;
  display: grid;
  place-items: center;
  gap: 65px;
  font-weight: 700;
  font-size: 15px;
  position: relative;
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

hr {
  width: 90%;
  height: 1px;
  opacity: 0.25;
  background: #6e728e;
  border: none;
  color: #6e728e;
}

.header__heading {
  color: #6e728e;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 0px;
  text-align: center;
}

.header__toggle {
  display: flex;
  align-items: center;
  gap: 30px;
}

.header__text {
  line-height: 28px;
  color: #6e728e;
  opacity: 0.5;
}

.svg--top {
  position: absolute;
  left: 196px;
  top: -87px;
  z-index: -1;
}

.svg--bottom {
  display: none;
}

.card {
  width: 330px;
  height: 480px;
  border-radius: 10px;
  background: white;
  text-align: center;
  box-shadow: 0 5px 25px 0 hsl(234, 14%, 74%);
}

.card__title {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: center;
  color: #6e728e;
}

.card__price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0;
  margin: 30px;
}

.card__price-text {
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.1600000858306885px;
  color: #4a4d60;
  margin: 0;
}

.card__symbol {
  font-size: 30px;
  line-height: 49px;
  letter-spacing: -1.2000000476837158px;
  color: #4a4d60;
}

.card__text {
  line-height: 28px;
  letter-spacing: 0px;
  color: #6e728e;
}

.card__button {
  background: var(--purple);
  border: none;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  color: white;
  margin-top: 30px;
  padding: 1.15em 4em;
  border-radius: 5px;
  width: 90%;
}

/*specific card  styling*/

.card--professional {
  background: var(--purple);
  color: white;
}

.card--professional,
.card--professional * {
  color: white;
}

.card--professional .card__button {
  background: #fff;
  color: #6d72de;
}

.card--professional hr {
  background: white;
  border: none;
}

.card--master {
  margin-bottom: 50px;
}

/* Styles for the checkbox */

.header__checkbox:hover {
  cursor: pointer;
}

.header__toggle-switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.header__toggle-switch input {
  display: none;
}

.toggle__slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--purple);
  transition: 0.4s;
  border-radius: 34px;
}

.toggle__slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .toggle__slider {
  background-image: var(--purple);
}

input:checked + .toggle__slider::before {
  transform: translateX(26px);
}

/* Desktop Styling */

@media screen and (min-width: 768px) {
  body {
    display: grid;
    place-items: center;
    gap: 0px;
    overflow-y: hidden;
  }

  main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0px;
    align-items: center;
    margin-top: 30px;
  }

  .card {
    width: 380px;
  }

  .card--basic {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .card--master {
    margin-bottom: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .card--professional {
    height: 520px;
  }

  .card--professional .card__button:hover {
    background: var(--purple);
    color: white;
    border: 2px solid white;
  }

  .card__button:hover {
    background: white;
    color: #6d72de;
    border: 2px solid #6d72de;
    cursor: pointer;
  }

  .svg--top {
    position: absolute;
    left: 1206px;
    top: 0px;
    z-index: -1;
  }

  .svg--bottom {
    display: block;
    position: absolute;
    bottom: -50px;
    left: 0;
    z-index: -1;
  }
}
